@import 'assets/scss/main';

.app-page {
  padding: 0 24px;

  @include media-xl-up {
    padding: 0;
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
    margin-top: 24px;

    @include media-sm-up {
      grid-template-columns: 1fr 1fr;
    }

    @include media-md-up {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__card {
  }
}
