/* Colors */
$color-accent: #22333b;
$color-almond: #eae0d5;
$color-khaki: #c6ac8f;
$color-brown: #5e503f;
$color-black: #0a0908;
$color-white: #fff;

/* Components */

// card
$card-title-font-size: 22px;
$card-border-radius: 14px;

// container
$container-width: 1280px;

/* Media */
$media-sm: 576px;
$media-md: 768px;
$media-lg: 992px;
$media-xl: 1200px;
$media-xxl: 1400px;
