// colors
$color-white: #fefeff;
$color-blue: #d6efff;
$color-sunset: #fed18c;
$color-sunset-2: #fed99b;
$color-tomato: #fe654f;

// fonts
$font-family: 'https://fonts.googleapis.com/css2?family=Montserrat:wght@0,100..900;1,100..900&display=swap';

// container
$container-width: 1280px;
